<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="description" content="User Experience Society OKRs">
<meta name="author" content="">
<title>{{ .Site.Title }}</title>
<!-- Bootstrap core CSS -->
<link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet">
<!-- Custom Google Web Font -->
<link href="{{ .Site.BaseURL }}/css/font-awesome.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}/css/css_002.css" rel="stylesheet" type="text/css">
<link href="{{ .Site.BaseURL }}/css/css.css" rel="stylesheet" type="text/css">
<!-- Custom CSS-->
<link href="{{ .Site.BaseURL }}/css/general.css" rel="stylesheet">
<!-- Owl-Carousel -->
<link href="{{ .Site.BaseURL }}/css/custom.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}/css/owl_002.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}/css/owl.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
<link href="{{ .Site.BaseURL }}/css/animate.css" rel="stylesheet">
<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/magnific-popup.css">
<link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/blue.png">
<script src="{{ .Site.BaseURL }}/js/modernizr-2.js"></script>
<!--[if IE 9]><script src="{{ .Site.BaseURL }}/js/PIE_IE9.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{{ .Site.BaseURL }}/js/PIE_IE678.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{{ .Site.BaseURL }}/js/html5shiv.js"></script><![endif]-->
<script src="{{ .Site.BaseURL }}/js/jquery-3.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>