<!-- JavaScript -->
<script src="{{ .Site.BaseURL}}/js/jquery-1.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.js"></script>
<script src="{{ .Site.BaseURL }}/js/owl.js"></script>
<script src="{{ .Site.BaseURL }}/js/script.js"></script>
<!-- StikyMenu -->
<script src="{{ .Site.BaseURL }}/js/stickUp.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    $(".fixed-action-btn").fadeIn("slow");
                }
                else {
                    $(".fixed-action-btn").fadeOut("fast");
                }
            });
        });

    });
</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery_002.js"></script>
<script src="{{ .Site.BaseURL }}/js/wow.js"></script>
<script>new WOW().init();</script>
<script src="{{ .Site.BaseURL }}/js/classie.js"></script>
<script src="{{ .Site.BaseURL }}/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ .Site.BaseURL }}/js/jquery.js"></script>
<script src="{{ .Site.BaseURL }}/js/royce.js"></script>
<script type="text/javascript">grab();</script>