<!-- JavaScript -->
<script src="UXSociety%20OKRs_files/jquery-1.js"></script>
<script src="UXSociety%20OKRs_files/bootstrap.js"></script>
<script src="UXSociety%20OKRs_files/owl.js"></script>
<script src="UXSociety%20OKRs_files/script.js"></script>
<!-- StikyMenu -->
<script src="UXSociety%20OKRs_files/stickUp.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();
            $(window).scroll(function () {
                if ($(window).scrollTop() > 300) {
                    $(".fixed-action-btn").fadeIn("slow");
                }
                else {
                    $(".fixed-action-btn").fadeOut("fast");
                }
            });
        });

    });
</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="UXSociety%20OKRs_files/jquery_002.js"></script>
<script src="UXSociety%20OKRs_files/wow.js"></script>
<script>new WOW().init();</script>
<script src="UXSociety%20OKRs_files/classie.js"></script>
<script src="UXSociety%20OKRs_files/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="UXSociety%20OKRs_files/jquery.js"></script>
<script src="UXSociety%20OKRs_files/royce.js"></script>
<script type="text/javascript">grab();</script>