<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>What are OKRs?</h2>
            <hr width="100%">
            <p class="lead" style="margin-top:0; margin:auto">OKRs, or
                Objectives and Key Results, is a goal-setting technique that enables
                teams to focus on achieving very ambitious goals and objectives. These
                objectives are measured by quantifiable Key Results. Scores range from 0
                to 1 for a key result, while the "sweet spot" or ideal score for an
                objective is 0.6-0.7 -- any higher means that the objective is too easy,
                and any lower means that the objective is too ambitious. Scores are set
                that way so that teams can completely maximize their performance while
                also being able to work outside their comfort zone.
            </p>

        </div>

        <div class="row">

            <div class="col-sm-4 wow fadeInDown text-center" style="visibility: hidden; animation-name: none;">
                <img class="rotate" src="{{ .Site.BaseURL }}/img/three.png" alt="Generic placeholder image">
                <h4>Ideally three objectives each with 3 key results.</h4>

                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center" style="visibility: hidden; animation-name: none;">
                <img class="rotate" src="{{ .Site.BaseURL }}/img/review.png" alt="Generic placeholder image">
                <h4>Reviewed at least every two months for progress updates.</h4>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

            <div class="col-sm-4 wow fadeInDown text-center" style="visibility: hidden; animation-name: none;">
                <img class="rotate" src="{{ .Site.BaseURL }}/img/medal.png" alt="Generic placeholder image">
                <h4>0.6 - 0.7 as ideal scores for primary objectives.</h4>
                <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
            </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->


    </div>
</div>