<!-- FlatFy Theme - Andrea Galanti /-->
<!DOCTYPE html>
{{ partial "iechecks.html" . }}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="User Experience Society OKRs">
    <meta name="author" content="">
    <title>UXSociety OKRs</title>
    <link href="{{ .Site.BaseURL }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/css/css_002.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/css/css.css" rel="stylesheet" type="text/css">
    <link href="{{ .Site.BaseURL }}/css/general.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/custom.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/owl_002.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/owl.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/style.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/magnific-popup.css">
    <link rel="icon" type="image/png" href="{{ .Site.BaseURL }}/img/blue.png">
    <script src="{{ .Site.BaseURL }}/js/modernizr-2.js"></script>
    <!--[if IE 9]><script src="{{ .Site.BaseURL }}/js/PIE_IE9.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ .Site.BaseURL }}/js/PIE_IE678.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{ .Site.BaseURL }}/js/html5shiv.js"></script><![endif]-->
</head>
<body id="home" style="overflow: visible;">
<!-- NavBar-->
<nav class="navbar-default stuckMenu" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ .Site.BaseURL }}"><img id="navlogo" src="{{ .Site.BaseURL }}/img/navlogo.png"></a>
        </div>

        <div class="collapse navbar-collapse navbar-center navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {{ range $department := .Site.Data.departments }}
                <li class="menuItem"><a href="#{{ lower $department.title }}">{{ $department.short_title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>

{{ range $department := .Site.Data.departments }}
<div id="{{ lower $department.title }}" {{ if not (modBool $department.weight 2) }}class="content-section-b"{{else}}class="content-section-a"{{end}} style="border-top:0; {{ if eq $department.weight 1 }} margin-top:-70px;{{end}}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeftBig animated animated" data-animation-delay="200" style="visibility: visible;">
                <img src="{{ .Site.BaseURL }}/img/{{ $department.logo }}" class="deptlogo">
                <h3 class="section-heading">{{ $department.long_title }}</h3>
                <p class="lead">{{ $department.description }}</p>
            </div>
            <div class="col-md-6" data-animation-delay="200" id="consultancy-okr">
                {{ range $okr := $department.okrs }}
                <h4>{{ $okr.title }}</h4>
                <div class="progress-bar-container">{{ $okr.total_progress }}
                    <div class="progress">
                        {{ if eq $okr.total_progress "n/a" }}
                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        {{ else }}
                        {{ $progress := float $okr.total_progress }}
                        <div style="width: {{ mul $progress 100 }}%;" class="progress-bar {{ if lt $okr.total_progress 0.7 }}progress-bar-danger{{ else }}progress-bar-success{{ end }}"
                             role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                        {{ end }}
                    </div>
                </div>
                <hr class="bigHR">
                {{ range $okr.objectives }}
                <div class="progress-bar-title">
                    <div class="progress-bar-text">{{ .progress }}</div>
                </div>
                <div class="key"><h6>{{ .description }}</h6></div>
                {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}

<!-- Alternative button to below -->
<div style="width: 100%; margin-top: 30px; margin-bottom: 40px;  text-align: center;">
    <a class="btn btn-info btn-lg" href="{{ .Site.BaseURL }}">
        View Organization-wide OKRs</a>
</div>

<!-- problem: kapag inalis to, nawawala yung navbar sa taas di ko alam paano aayusin :( -->
<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1 animated animated" style="display: none; visibility: visible;">
    <button type="button" style="display:none;"><span>View Department OKRs</span></button>
    <div class="morph-content" style="display:none;">
        <div>
            <a href="{{ .Site.BaseURL }}/department.html" style="display:none;">
                <div class="content-style-form content-style-form-4" style="display:none;">
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Floating Action Button -->
<div class="fixed-action-btn">
    <div>
        <a class="btn-floating" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}/img/circle-left.png" style="max-width: 100%; height:auto;">
        </a>
    </div>
</div>

<!-- JavaScript -->
<script src="{{ .Site.BaseURL }}/js/jquery-1.js"></script>
<script src="{{ .Site.BaseURL }}/js/bootstrap.js"></script>
<script src="{{ .Site.BaseURL }}/js/owl.js"></script>
<script src="{{ .Site.BaseURL }}/js/script.js"></script>
<!-- StikyMenu -->
<script src="{{ .Site.BaseURL }}/js/stickUp.js"></script>
<!--<script type="text/javascript" src="{{ .Site.BaseURL }}/js/matthew.js"></script>-->
<script type="text/javascript">
    jQuery(function($) {
        $(document).ready( function() {
            $('.navbar-default').stickUp();
            $(window).scroll(function() {
                if($(window).scrollTop() > 300){
                    $(".fixed-action-btn").fadeIn("slow");
                }
                else {
                    $(".fixed-action-btn").fadeOut("fast");
                }
            });
        });

    });
</script>
<!--<script>-->
    <!--grab();-->
<!--</script>-->
<!-- Smoothscroll -->
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery_002.js"></script>
<script src="{{ .Site.BaseURL }}/js/wow.js"></script>
<script>
    new WOW().init();
</script>
<script src="{{ .Site.BaseURL }}/js/classie.js"></script>
<script src="{{ .Site.BaseURL }}/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ .Site.BaseURL }}/js/jquery.js"></script>
</body></html>